<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589840820110-fpcraquhsgc8hic01er2v82tprkg2pmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589840820110-fpcraquhsgc8hic01er2v82tprkg2pmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDL_5RoeqoEDgGY-6Fx_XjHwfkHaL7aSt4</string>
	<key>GCM_SENDER_ID</key>
	<string>589840820110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventHub</string>
	<key>PROJECT_ID</key>
	<string>event-hub-368414</string>
	<key>STORAGE_BUCKET</key>
	<string>event-hub-368414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589840820110:ios:2f140ccf59a6eb27caa6df</string>
</dict>
</plist>